:root {

  --success-color: #27B274;
  --error-color: #FF8080;
  --error-bg-color: #FDEFEE;

  --border-color-lighter: #6f91bc;
  --border-color: #4a4e71;

  --text-color-lighter: #6f91bc;
  --text-color: #4a4e71;
  
  --primary-button-bg: linear-gradient(to right, #70C3FF, #4B65FF);
  --primary-button-text-color: #fff;

  --bg-gradient: linear-gradient(#F4F9FF, #E0EDFB);

}
* {
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 30px;
  color: var(--text-color);
  background-image: var(--bg-gradient);
}

#root {
  flex-basis: 100%;
}


/*@media (min-width: 481px) and (max-width: 768px) { ... }


@media (min-width: 769px) and (max-width: 1024px) { ... }


@media (min-width: 1025px) { ... }*/